 .listContainter{
    display: flex;
    justify-content: center;
    margin-top: 20px;
 }

.listWrapper{
    width: 100%;
    max-width: 1024px;
    display: flex;
    gap: 20px;

}

.listSearch{
    flex: 1;
    background-color: #febb02;
    padding: 10px;
    border-radius: 10px;
    position: sticky;
    top: 10px;
    height: max-content;
}

.lsTitle{
    font-size: 20px;
    color: #555;
    margin-bottom: 10px;
}

.lsItem{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    gap: 5px;
}

.lsItem>label{
    font-size: 12px;
}

.lsItem>input{
    height: 30px;
    border: none;
    outline: none;
    padding: 5px;
}

.lsItem>span{
    height: 30px;
    padding:5px;
    background-color: white;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.lsOptions{
    padding: 10px;
}

.lsOptionItem{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
    font-size: 12px;
    color: #555;
}

.lsOptionInput{
    width: 50px;
}

.listSearch>button{
    width: 100%;
    padding: 10px;
    color:white;
    background-color: #0071c2;
    border: none;
    cursor: pointer;
}

.listResult{
    flex: 3;
    
}